SanteDB.Matcher/Schema/MatcherDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://santedb.org/matcher" elementFormDefault="qualified" targetNamespace="http://santedb.org/matcher" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="BinaryOperatorType" type="tns:BinaryOperatorType" />
  <xs:element name="MatchBlock" nillable="true" type="tns:MatchBlock" />
  <xs:element name="MatchTarget" nillable="true" type="tns:MatchTarget" />
  <xs:element name="MatchTransform" nillable="true" type="tns:MatchTransform" />
  <xs:element name="MatchTransformConfiguration" nillable="true" type="tns:MatchTransformConfiguration" />
  <xs:element name="MatchVector" nillable="true" type="tns:MatchVector" />
  <xs:element name="MatchVectorNullBehavior" type="tns:MatchVectorNullBehavior" />
  <xs:element name="MatchVectorAssertion" nillable="true" type="tns:MatchVectorAssertion" />
  <xs:element name="MatchVectorWeightType" type="tns:MatchVectorWeightType" />
  <xs:simpleType name="BinaryOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eq" />
      <xs:enumeration value="lt" />
      <xs:enumeration value="lte" />
      <xs:enumeration value="gt" />
      <xs:enumeration value="gte" />
      <xs:enumeration value="ne" />
      <xs:enumeration value="and" />
      <xs:enumeration value="or" />
      <xs:enumeration value="add" />
      <xs:enumeration value="sub" />
      <xs:enumeration value="is" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MatchBlock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="imsiExpression" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="op" type="tns:BinaryOperatorType" use="required" />
    <xs:attribute name="maxResults" type="xs:int" use="required" />
  </xs:complexType>
  <xs:element name="MatchConfiguration" nillable="true" type="tns:MatchConfiguration" />
  <xs:complexType name="MatchConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="target" type="tns:MatchTarget" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="blocking" type="tns:MatchBlock" />
      <xs:element minOccurs="0" maxOccurs="1" name="classification" type="tns:ArrayOfMatchVector" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="nonmatchThreshold" type="xs:double" use="required" />
    <xs:attribute name="matchThreshold" type="xs:double" use="required" />
  </xs:complexType>
  <xs:complexType name="MatchTarget">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="event" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="resource" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfMatchVector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vector" nillable="true" type="tns:MatchVector" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatchVector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="assert" type="tns:MatchVectorAssertion" />
      <xs:element minOccurs="0" maxOccurs="1" name="partialWeight" type="tns:MatchTransform" />
    </xs:sequence>
    <xs:attribute name="m" type="xs:double" use="required" />
    <xs:attribute name="u" type="xs:double" use="required" />
    <xs:attribute name="matchWeight" type="xs:double" use="required" />
    <xs:attribute name="nonMatchWeight" type="xs:double" use="required" />
    <xs:attribute name="property" type="xs:string" />
    <xs:attribute name="whenNull" type="tns:MatchVectorNullBehavior" use="required" />
    <xs:attribute name="required" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="MatchVectorAssertion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transform" type="tns:MatchTransform" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="assert" type="tns:MatchVectorAssertion" />
    </xs:sequence>
    <xs:attribute name="op" type="tns:BinaryOperatorType" use="required" />
    <xs:attribute name="value" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="MatchTransform">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="args" type="tns:ArrayOfChoice1" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="double" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="string" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="boolean" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="int" type="xs:int" />
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="MatchVectorNullBehavior">
    <xs:restriction base="xs:string">
      <xs:enumeration value="match" />
      <xs:enumeration value="nonmatch" />
      <xs:enumeration value="ignore" />
      <xs:enumeration value="disqualify" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatchConfigurationCollection" nillable="true" type="tns:MatchConfigurationCollection" />
  <xs:complexType name="MatchConfigurationCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="transformers" type="tns:ArrayOfMatchTransformConfiguration" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="configuration" type="tns:MatchConfiguration" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfMatchTransformConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:MatchTransformConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatchTransformConfiguration">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="MatchVectorWeightType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="full" />
      <xs:enumeration value="partial" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>